<div #permissions>
  <label>User Permissions</label>
  <table>
    <tbody class="form-group row" *ngFor="let permission of permissions$ | async">
      <tr>
        <td><span class="detail-users">{{permission.User | userFullName | async }}</span></td>
        <td><select [(ngModel)]="permission.Role">
                <option *ngFor="let role of roles" [value]="role">{{role}}</option>
                </select></td>
        <td><span type="button" class="btn glyphicon glyphicon-refresh" (click)="updatePermission(permission, permission.Role)"></span></td>
        <td><span type="button" class="btn glyphicon glyphicon-minus-sign" (click)="deletePermission(permission)"></span></td>
      </tr>
    </tbody>
  </table>
  <form class='submitForm' [formGroup]="newPermissionForm" (ngSubmit)="submitPermissions()">
    <div class="form-group">
      <fieldset formArrayName="Permissions">
        <table>
          <tbody class="form-group row" *ngFor="let permissionItem of newPermissionForm.get('Permissions').controls" [formGroup]='permissionItem'>
            <tr>
              <td><input class="form-control" type="text" formControlName="Email" placeholder="Enter User New Email"></td>
              <td><select formControlName="Role">
                        <option *ngFor="let role of roles" [ngValue]="role">{{role}}</option>
                      </select></td>
              <td><button type="submit" class="btn glyphicon glyphicon-plus-sign detail-submission-btn"></button></td>
              <td><small [hidden]="permissionItem.controls.Email.valid" class="text-danger">Please Add Valid Email</small></td>
            </tr>
          </tbody>
        </table>
      </fieldset>
    </div>
  </form>
</div>