<div class="projects">
    <header class="projects container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h4>My Projects</h4>
            </div>

            <table class="table">
               
                <tbody>
                    <tr *ngFor="let project of projects">
                        <td>{{project.Name}}</td>
                        <td>{{project.Description}}</td>
                        <td><button class=" btn btn-primary" (click)="delete(project)">Details</button></td>
                        <td><button class=" btn btn-primary" (click)="delete(project)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </header>
</div>