<div class="landing">
    <header class="landing container-fluid">
        <div class="row">
            <div class="col-xs-5 col-xs-push-3">
                <div class="landing-title">Oncoscape</div>
                <form>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" />
                    </div>
                    <div class="form-group">
                        <button class="btn landing-button">Login</button>
                        <button class="btn landing-button"><a routerLink="/register">Register</a></button>
                    </div>
                     <div class="form-group">
                        <a class=" btn-link">Forgot Password</a>
                    </div>
                </form>
            </div>
        </div>
    </header>
</div>