<h3>Add New Project</h3>
<div class='well well-sm'>
  <form class='submitForm' [formGroup]="newProjectForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="Name">Name</label>
      <input type="text" class="form-control" id="Name" formControlName="Name">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" formControlName="Description">
    </div>
    <label for="files">Files</label>
    <fieldset formArrayName="Files">
      <div class="form-group row" *ngFor="let fileItem of newProjectForm.get('Files').controls; let i=index" [formGroup]="fileItem">
        <div class="col-sm-1">
          <label [attr.for]="'category'+i">Category</label>
          <select formControlName="category">
            <option *ngFor="let category of fileCategories" [ngValue]="category">{{category}}</option>
          </select>
        </div>
        <div class="col-sm-1">
          <label [attr.for]="'dataType'+i">Data Type</label>
          <select formControlName="dataType">
            <option *ngFor="let datatype of fileDataTypes" [ngValue]="datatype">{{datatype}}</option>
          </select>
        </div>
        <div class="col-sm-3">
          <label [attr.for]="'path'+i">Path</label>
          <input type="text" class="form-control" [attr.id]="'text'+i" formControlName="path">
        </div>
        <div class="col-sm-1 py-1">
          <button type="button" class="btn" (click)="newProjectForm.get('Files').removeAt(i)">-</button>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2 col-sm-offset-10">
          <button type="button" class="btn btn-link" (click)="newProjectForm.get('Files').push(fileItem(''))">Add Another File</button>
        </div>
      </div>
    </fieldset>
    <div class="form-group">
      <input type="submit" class="form-control" value="Add" [disabled]="newProjectForm?.invalid">
    </div>
  </form>
  <p>Form value: {{ newProjectForm.value | json }}</p>
  <p>Form Status: {{ newProjectForm.status | json }}</p>
</div>
