<div class="projects">
    <header class="projects container-fluid">
        <div class="row">
            <div routerLinkActive="active" routerLink='dashboard'></div>
            
            <div class="col-xs-6 float-right">
                <h4 class="projects-header">Projects</h4>
            </div>
            <div class="col-xs-6 float-left">
            <div class='btn btn-primary' style="float:right;" routerLinkActive="active" routerLink='add'>Add New Project</div>
          </div>
        </div>
    </header>
</div>
<router-outlet></router-outlet>