<div class="detail">
  <div class="container">
    <div class="row">
      <div *ngIf="project">
          <h3 class="detail-header">{{project.Name}}</h3>
          <div class="form-group">
            <label>Dataset Name</label>
            <input [(ngModel)]="project.Name" placeholder="Dataset Name" class="form-control" rows="1"> 
          </div>
          <div class="form-group">
            <label>Private</label>
            <input type="checkbox" [(ngModel)]="project.Private">
          </div>
          <div class="form-group">
            <label>IRB</label>
            <input [(ngModel)]="project.IRBNumber" placeholder="IRB#" class="col-sx-3">
            <div *ngIf="project.IRBNumber" class="col-sx-3">IRB Title : {{project.IRBNumber | IrbDetailService | async}}</div>
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea [(ngModel)]="project.Description" placeholder="Description" class="form-control" rows="4"></textarea>
          </div>
          <div #annotations>
            <label>Dataset Annotations</label>
            <div *ngIf='project.Annotations.length > 0'>
              <table>
                <thead>
                  <tr>
                    <td>Key</td>
                    <td>Value</td>
                    <td>Remove/Add</td>
                  </tr>
                </thead>
                <tbody *ngFor="let annot of project.Annotations; let i = index">
                  <tr>
                    <td><input [(ngModel)]="annot.key" placeholder="Sample Size" class="form-control"></td>
                    <td><input [(ngModel)]="annot.value" placeholder="110" class="form-control"></td>
                    <td><span type="button" class="btn glyphicon glyphicon-minus-sign" (click)="project.Annotations.splice(i,1)"></span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <form class='submitForm' [formGroup]="newAnnotationForm" (ngSubmit)="submitAnnotations()">
              <div class="form-group">
                <fieldset formArrayName="Annotations">
                  <table>
                    <tbody class="form-group row" *ngFor="let annotationItem of newAnnotationForm.get('Annotations').controls" [formGroup]='annotationItem'>
                      <tr>
                        <td><input class="form-control" type="text" formControlName="key" placeholder="Sample Size"></td>
                        <td><input class="form-control" type="text" formControlName="value" placeholder="110"></td>
                        <td><button type="submit" class="btn glyphicon glyphicon-plus-sign detail-submission-btn"></button></td>
                      </tr>
                    </tbody>
                  </table>
                </fieldset>
              </div>
            </form>
          </div>
        <app-permissions [project]="project"></app-permissions>
        <!--<app-files (fileoutput)='onFileSubmission($event)'></app-files>-->
        <app-files [project]="project" (uploaded)="someMethod($event)"></app-files>
        <div class="form-group">
          <label>Date Created {{project.Date}}</label>
        </div>
        <button class='btn btn-primary' (click)="update(project)">Update</button>
      </div>
    </div>
  </div>
</div>