// import global variable
@import '/../index';

.detail-header {
    padding-bottom: 25px;
    font-weight: 400;
    color: $color-onco-blue;
    letter-spacing: 7px;
}
.well {
    background-image:url("../../assets/images/logo-white.png");
}
th, td {
    padding: 10px;
    text-align: left;
}
.submission-btn {
    background-color:rgba(255, 255, 255, 0);
}

  
