<h1>{{title}}</h1>
<div>
    <ul>
        <li *ngFor = "let user of users"><span class='badge'>{{user.FirstName}}</span></li>
    </ul>
</div>
<form [formGroup] = "newUserForm" (ngSubmit) = "submit()">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" formControlName="firstName">
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" formControlName="lastName">
    </div>
    <div class="form-group">
        <label for="Photo">Photo</label>
        <input type="text" class="form-control" id="Photo" formControlName="photo">
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="text" class="form-control" id="Email" formControlName="email">
    </div>
    <div class="form-group">
        <input type="submit" class="form-control" value="Submit" [disabled]="newUserForm?.invalid">
    </div>
</form>
<p>Form value: {{ newUserForm.value | json }}</p>
<p>Form status: {{ newUserForm.status | json }}</p>   

