<div class="admin">
    <header class="admin container-fluid">
        <div class="row">
            <h2>Private Data Admin Portal</h2>
            <button class='btn btn-primary'><a routerLink="/projects/dashboard"><span class="fa fa-dashboard fa-5x"></span></a></button>
            <button class='btn btn-primary'><a routerLink="/users"><span class="fa fa-users fa-5x"></span></a></button>
            <button class='btn btn-primary'><a routerLink="/irb"><span class="fa fa-bell-o fa-5x"></span></a></button>
            <button class='btn btn-primary'><a routerLink="/grid"><span class="fa fa-table fa-5x"></span></a></button>
        </div>
    </header>
</div>
<router-outlet></router-outlet>
