<div class="admin-grid">
    <header class="admin-grid container-fluid">
        <div class="row">
            <h2>adminGrid View</h2>
            <button class='btn btn-primary'><a routerLink="/admin"><span class="fa fa-lock fa-5x"></span></a></button>
             <div class="col-xs-12">
                <div>
                    <table>
                        <thead>
                            <td>First Name</td>
                            <td>Last Name</td>
                            <td>Project Name</td>
                            <td>Role</td>
                            <td>Email</td>
                        </thead>
                        <tbody *ngFor="let elem of grid">
                        <tr>
                            <td>{{elem.FirstName}}</td>
                            <td>{{elem.LastName}}</td>
                            <td>{{elem.Name}}</td>
                            <td>{{elem.Role}}</td>
                            <td>{{elem.Email}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </header>
</div>
