// import global variable
@import '/../index';

.admin-grid-header {
    padding-bottom: 25px;
    font-weight: 400;
    color: $color-onco-blue;
    letter-spacing: 7px;
}

.admin-grid {
    margin-top: 150px;
}
