<div class="admin-grid">
    <header class="admin-grid container-fluid">
        <div class="row">
            <h2>adminGrid View</h2>
            <button class='btn btn-primary'><a routerLink="/admin"><span class="fa fa-lock fa-5x"></span></a></button>
            <!--<li class="btn btn-primary"><a routerLink="/projects/dashboard"><span class="fa fa-dashboard"></span>Projects</a></li>
            <li class="btn btn-primary"><a routerLink="/users"><span class="fa fa-users"></span>Users</a></li>
            <li class="btn btn-primary"><a routerLink="/adminGrid"><span class="fa fa-bell-o"></span>adminGrid</a></li>-->
        </div>
    </header>
</div>
