<h3>Files Management</h3>
<div class='well well-lg'>
  <div class="row">
    <div class="col-md-5">
      <table>
        <!--<thead>
          <td>Category</td>
          <td>Data Type</td>
          <td>File Name</td>
          <td>File Size</td>
          <td>Actions</td>
        </thead>-->
        <tbody class="form-group row" *ngFor="let file of files$ | async">
          <tr>
            <td><span class="detail-users">{{file.Category}}/{{file.DataType}}</span></td>
            <!--<td><span class="detail-users">{{file.DataType}}</span></td>-->
            <td><span class="detail-users">{{file.Name}}</span></td>
            <td><span class="detail-users">{{file.Size/1000000}}MB</span></td>
            <!--<td><span type="button" class="btn glyphicon glyphicon-refresh" (click)="updateFile(file)"></span></td>-->
            <td><span type="button" class="btn glyphicon glyphicon-minus-sign" (click)="deleteFile(file)"></span></td>
          </tr>
        </tbody>
      </table>
      <form class='submitForm' [formGroup]="newFileForm" (ngSubmit)="submitFiles()">
        <div class="form-group">
          <fieldset formArrayName="Files">
            <table>
              <tbody class="form-group row" *ngFor="let fileItem of newFileForm.get('Files').controls; let i = index;" [formGroup]='fileItem'>
                <tr>
                  <td><select formControlName="Category">
                        <option *ngFor="let category of fileCategories" [ngValue]="category">{{category}}</option>
                      </select></td>
                  <td><select formControlName="DataType">
                        <option *ngFor="let datatype of fileMeta[fileItem.controls.Category.value]" [ngValue]="datatype">{{datatype}}</option>
                      </select>
                    <td>
                      <!--<input id="fileupload" type="file" class="form-control" name="single"  ng2FileSelect [uploader]="uploader"/>-->
                      <td><input type="file" class="form-control col-md-5" name="single" (change)="onSelection($event, i)" formControlName="File"
                        /></td>
                      <td><button type="submit" class="btn glyphicon glyphicon-plus-sign detail-submission-btn"></button></td>
                </tr>
              </tbody>
            </table>
          </fieldset>
        </div>
      </form>
      <!--<p>Form value: {{ newFileForm.get('Files').value | json }}</p>
      <p>Form Status: {{ newFileForm.status | json }}</p>-->

    </div>
    <!--<div class="col-md-8">
      Queue length: {{ uploader?.queue?.length }}
      <table class="table">
        <thead>
          <tr>
            <th width="70%">Name</th>
            <th>Type</th>
            <th>Category</th>
            <th>Datatype</th>
            <th>Size</th>
            <th>Progress</th>
            <th>Status</th>
            <th>What's in item</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of uploader.queue">
            <td><strong>{{ item.file.name }}</strong></td>
            <td><strong>{{ item.file.type }}</strong></td>
            <td><select [(ngModel)]="item.file.category">
                  <option *ngFor="let category of fileCategories" [ngValue]="category">{{category}}</option>
                </select></td>
            <td><select [(ngModel)]="item.file.dataType">
                  <option *ngFor="let datatype of fileMeta[item.file.category]" [ngValue]="datatype">{{datatype}}</option>
                </select></td>
            <td nowrap>{{ item.file.size/1024/1024 | number:'.2' }} MB</td>
            <td>
              <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
              </div>
            </td>
            <td class="text-center">
              <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
              <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
              <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </td>
            <td>
              {{item.file | json}}
            </td>
            <td nowrap>
              <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" (click)="fileItemPush(item)" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                            <span class="glyphicon glyphicon-upload"></span> Upload
                                        </button>
              <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                        </button>
              <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> Remove
                                        </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <div>
          Queue progress:
          <div class="progress">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
          </div>
        </div>
        <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                    <span class="glyphicon glyphicon-upload"></span> Upload all
                                </button>
        <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                </button>
        <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                                    <span class="glyphicon glyphicon-trash"></span> Remove all
                                </button>
      </div>
    </div>-->
  </div>
</div>
