<p>
  files works!
</p>
<div class='well well-lg'>
<form class='submitForm' [formGroup]="fileForm">
  <div class="form-group">
    <label for="file">Files</label>
    <fieldset formArrayName="Files">
      <div class="form-group row" *ngFor="let fileItem of fileForm.get('Files').controls; let i=index" [formGroup]="fileItem">
        <div class="col-sm-1">
          <label [attr.for]="'category'+i">Category</label>
          <select formControlName="category">
            <option *ngFor="let category of fileCategories" [ngValue]="category">{{category}}</option>
          </select>
        </div>
        <div class="col-sm-1">
          <label [attr.for]="'dataType'+i">Data Type</label>
          <select formControlName="dataType">
            <option *ngFor="let datatype of fileMeta.clinical" [ngValue]="datatype">{{datatype}}</option>
          </select>
        </div>
        <div class="col-sm-3">
          <label [attr.for]="'path'+i">Path</label>
          <input type="text" [attr.id]="'text'+i" formControlName="path">
        </div>
        <div class="col-sm-1">
          <span type="button" class="btn glyphicon glyphicon-minus-sign" (click)="fileForm.get('Files').removeAt(i)"></span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2 col-sm-offset-10">
          <button type="button" class="btn btn-link" (click)="fileForm.get('Files').push(fileItem(''))">Add Another File</button>
        </div>
      </div>
    </fieldset>
  </div>
</form>
<p>Form value: {{ fileForm.value | json }}</p>
</div>
