<h3>Files Management</h3>
<div class='well well-lg'>
  <form class='submitForm' [formGroup]="fileForm">
    <div class="form-group">
      <fieldset formArrayName="Files">
        <table>
          <thead>
            <tr>
              <td>Category</td>
              <td>Data Type</td>
              <td>Path</td>
              <td>Actions</td>
            </tr>
          </thead>
          <tbody class="form-group row" *ngFor="let fileItem of fileForm.get('Files').controls" [formGroup]="fileItem">
          <tr>
            <td><select formControlName="category">
                  <option *ngFor="let category of fileCategories" [ngValue]="category">{{category}}</option>
                </select></td>
            <td><select formControlName="dataType">
                  <option *ngFor="let datatype of fileMeta.clinical" [ngValue]="datatype">{{datatype}}</option>
                </select></td>
            <!--<td><input type="text" [attr.id]="'text'+i" formControlName="path"></td>-->
            <td><form ref='uploadForm'
              id='uploadForm'
              action='http://localhost:3000/upload'
              method='post'
              encType="multipart/form-data">
                  <input type="file" name="sampleFile"/>
              </form></td>
              <td><input type='submit' class="btn glyphicon glyphicon-plus-sign">
              <span type="button" class="btn glyphicon glyphicon-minus-sign" (click)="fileForm.get('Files').removeAt(i)"></span></td>
          </tr>
        </tbody>
        </table>
      </fieldset>
      <button type="button" class="btn btn-link" (click)="fileForm.get('Files').push(fileItem(''))">Add Another File</button>
    </div>
  </form>
  <p>Form value: {{ fileForm.get('Files').value | json }}</p>
</div>